{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block content %}
<div id="login-form" class="z-depth-1">
  {% get_providers as socialaccount_providers %}

  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    <div class='row'>
      <div class='input-field col s12'>
        <input type="text" name="login" maxlength="150" required="" id="id_login" />
        <label for="id_login" class="active">Username</label>
      </div>
    </div>
    <div class='row'>
      <div class='input-field col s12'>
        <input type="password" name="password" required="" id="id_password">
        <label for="id_password" class="active">Password</label>
      </div>
      <label style='float: right;'>
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      </label>
    </div>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class='row'>
      <button class="col s12 btn btn-large waves-effect" type="submit">{% trans "Sign In" %}</button>
    </div>
  </form>

  {% if socialaccount_providers %}
  <div class="socialaccount_ballot">

    <div class="login-or">{% trans 'or' %}</div>

    <ul class="socialaccount_providers">
      <!-- Todo: update buttons with these https://terrymooreii.github.io/materialize-social/ -->
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>
  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

  {% endif %}
</div>
{% endblock content %}
