/* Logo obtained from https://developers.google.com/identity/branding-guidelines */
.socialaccount_provider.google {
  background: url('/static/images/btn_google_signin_light_normal_web.png');
  height: 46px;
  width: 191px;
  display: inline-block;
  color: #0000;
}
