/****************
* Button styles *
****************/

.btn, .btn-large, .btn-small {
  background-color: #3E2A2C;
}

.btn-group .btn,
.btn-group .btn-large,
.btn-group .btn-small {
  margin-right: 0;
  margin-left: 0;
  border-right: 1px solid #222;
  border-radius: 0;
}

.btn-group > li:first-child .btn,
.btn-group > li:first-child .btn-large,
.btn-group > li:first-child .btn-small {
  margin-left: 15px;
  border-radius: 2px 0 0 2px;
}

.btn-group > li:last-child .btn-small {
  margin-right: 15px;
  border-radius: 0 2px 2px 0;
}

/**************
* Body styles *
**************/

body {
    background-color: #202020;
    color: #ccc;
}

body > div > nav {
  box-shadow: none;
}

nav ul.dropdown-content {
  top: auto !important;
}

/****************************
* Home page viewport styles *
****************************/

#viewport {
  background-color: #7D5256;
  box-shadow: inset 0 4px 4px 0 rgba(0,0,0,0.14), inset 0 6px 2px -4px rgba(0,0,0,0.12), inset 0 2px 10px 0 rgba(0,0,0,0.2);
  height: 200px;
  border-radius: 1em;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 90vh;
  padding: .75rem;
  scrollbar-width: none;
}

@media only screen and (max-height: 1030px) {
  #viewport {
    height: 85vh;
  }
}

@media only screen and (max-height: 690px) {
  #viewport {
    height: 80vh;
  }
}

@media only screen and (max-height: 520px) {
  #viewport {
    height: 75vh;
  }
}

/* width */
#viewport::-webkit-scrollbar {
  width: 1em;
}

/* Track */
#viewport::-webkit-scrollbar-track {
  border-radius: 0 .5em .5em 0;
}
 
/* Handle */
#viewport::-webkit-scrollbar-thumb {
  background: #ffebee;
  box-shadow: inset -.2em -.2em 1em .1em rgba(0,0,0,0.3), inset -.1em -.1em .1em 0em rgba(0,0,0,0.3);
  border-radius: .5em;
}

/* Handle on hover */
#viewport::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}


/*******************
* Blog page styles *
*******************/

#blog-title {
    font-size: 2.5rem;
}

#blog-desc {
    font-size: 0.9rem;
}

#blog-details .collection {
    border: none;
}

#blog-details .collection .collection-item {
    border-bottom-color: #e0e0e033;
}


.bacn-1 {
    background-color: #7D5256 !important;
}

.bacn-dark {
    background-color: #3E2A2C !important;
}

.bacn-medium {
    background-color: #7D5256 !important;
}

.bacn-light {
    background-color: #b30000 !important;
}

.bacn-very-light {
    background-color: #ffebee !important;
}

/*********************
* Custom form styles *
*********************/

h4 input[type="text"] {
  height: 4rem !important;
}
h4 input[type="text"] + label {
  font-size: 1em;
}

#login-form {
    padding: 2rem 3rem 1rem 3rem;;
    width: 40rem;
    max-width: 100%;
    margin: auto;
}
@media only screen and (max-width: 600px) {
    #login-form {
        padding: 1rem;
    }
}
