  <div id="create_post_modal" class="modal">
    <div class="modal-content">
      <form method="post" action="{% url 'blog:create_post' %}">
        {% csrf_token %}
        <h4>
          <div class="input-field col s12">
            <input id="title" name="title" type="text" class="validate" value="{% if form.title.value %}{{ form.title.value }}{% endif %}">
            <label for="title">Title</label>
          </div>
        </h4>
        <div class="input-field col s12">
          <textarea id="text" name="text" class="materialize-textarea">{% if form.text.value %}{{ form.text.value }}{% endif %}</textarea>
          <label for="text">Your text</label>
        </div>
        <div class="input-field col s12">
          <input id="tags" name="tags" type="text" class="validate" value="{{ form_tags }}">
          <label for="tags">#Tags</label>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="left modal-close waves-effect waves-green btn-flat">Close</a>
        <button class="modal-close waves-effect waves-green btn" type="submit">
          Post <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>