{% extends 'base.html' %}

{% block content %}
<div id="viewport" class="col m7 xl6 offset-m1 offset-xl3">
  <div id="new-entry-form"></div>
  <div>
    Blog contents goes here.
  </div>
</div>
<div id="blog-details" class="col l3">
  <div>
    <span id="blog-title">Just another blog</span>
  </div>
  <div>
    <span id="blog-desc">A blog about nothing</span>
  </div>
  <ul class="collection transparent">
    <li class="collection-item transparent">
      Posts
      <a href="#!" class="secondary-content">9001</a>
    </li>
    <li class="collection-item transparent">
      Followers
      <a href="#!" class="secondary-content">42</a>
    </li>
  </ul>
</div>
{% endblock content %}
